<!DOCTYPE html>
<html lang="en" html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<div>
    <h2>List of users</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user, iterStat : ${users}"
                th:style="${iterStat.odd}? 'font-weight: bold;'">
                <td th:text="${iterStat.index} + 1"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getSurname()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getGender()}"></td>
                <td><form th:method="GET", th:action="@{/users/{id}/edit(id=${user.getId()})}"><input type="submit" value="edit"/></form></td>
                <td><form th:method="DELETE", th:action="@{/users/{id}(id=${user.getId()})}"><input type="submit" value="delete"/></form></td>
                <td><form th:method="GET", th:action="@{/users/{id}(id=${user.getId()})}"><input type="submit" value="more details"/></form></td>
            </tr>
        </tbody>
    </table>
        <br/>
        <hr/>
        <form th:method="GET", th:action="@{/users/new}"><input type="submit" value="create user"/></form>
</div>
</body>
</html>